body{
    text-align: center;
    margin: 0;
    padding: 0;
}
body p{
    display: inline-block;
    background-color: gray;
    color: #fff;
    margin: 1px calc(2rem + 1vw);
    font-size: 28px;
    width: auto;
    padding: 21px;
}