/*Reset CSS*/

body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #080808;
}
@for $i from 1 to 6 {
    h#{$i},p{
        display: block;
        margin: 0;
        padding: 0%;
    }   
}
span,ul,li,ol,div{
    display: block;
    margin: 0;
    padding: 0%;
}

/*Reset CSS*/
