/*Reset CSS*/
  * {
    margin: 0;
    padding: 0;
  }
  html {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /*Reset CSS*/
body{
    box-sizing: border-box;
    background-color: #18181879;
}
